:root {
  --background: #000430;
  --secondaryBackground: #171c48;
  --text: #fff;
  --purple: #828dff;
  --teal: #0fc6ba;
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  background-color: var(--background);
  color: var(--text);
}
.container {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  margin: 120px auto 40px auto;
  max-width: 500px;
}

.stats-container {
  padding: 30px;
  border-radius: 20px;
  border: 2px solid var(--teal);
  display: flex;
  justify-content: space-between;
  width: 100%;
  gap: 20px;
}
.details {
  width: 100%;
}
#progressBar {
  width: 100%;
  height: 10px;
  border-radius: 6px;
  background-color: var(--secondaryBackground);
  margin-top: 20px;
}
#progress {
  width: 0;
  height: 10px;
  border-radius: 10px;
  background-color: var(--teal);
  transition: all 0.3s ease;
}
#numbers {
  width: 100px;
  height: 100px;
  background: var(--purple);
  color: var(--text);
  font-size: 30px;
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
}
form {
  margin-top: 60px;
  width: 100%;
  display: flex;
  gap: 10px;
}

input {
  flex: 1;
  padding: 14px;
  background-color: var(--secondaryBackground);
  border: 1px solid var(--teal);
  border-radius: 10px;
  color: var(--text);
  font-size: 1rem;
  outline: none;
}
button {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: var(--purple);
  color: var(--text);
  font-size: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  outline: none;
  border: none;
}

#task-list {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-top: 30px;
  list-style: none;
}

.taskItem {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 18px;
  border-radius: 10px;
  background-color: var(--secondaryBackground);
}

.task {
  display: flex;
  gap: 8px;
  font-size: 18px;
}
.task input {
  width: 18px;
}
.completed p {
  text-decoration: line-through;
  color: var(--teal);
}
.icons {
  display: flex;
  gap: 10px;
  font-size: 18px;
  transition: all;
}

.icons:hover {
  transform: scale(100%);
}
